// extra extra small smartphones (landscape view)
$screen-xxs: 367px;

// extra small smartphones (landscape view)
$screen-xs: 450px;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;
