@font-face {
	font-family: 'Pokemon-Solid';
	src: url('../../fonts/Pokemon-Solid.ttf') format('truetype');
}

@font-face {
	font-family: 'Pokemon-Hollow';
	src: url('../../fonts/Pokemon-Hollow.ttf') format('truetype');
}

@font-face {
	font-family: 'Andy-Bold';
	src: url('../../fonts/Andy-Bold.ttf') format('truetype');
}
