// Variables
$defaultFont: 'Andy-Bold', 'Helvetica', 'Arial', sans-serif;
$imagesPath: '../../images';

// Colors & Backgrounds
$backgroundColor: #18242e;
$headerColor: #0f224a;
$text: #ffffff;
$quizBackgroundColor: #3d6ac2;

// Sizes
$topHeaderHeight: 75px;
